/* Empty. Add your own CSS if you like */
.scroll-content {
}

.custombg {
    background: #334 url('../img/splash.png') no-repeat center center;
}

.text-white {
    color: #ffffff;
}

.item, ion-item, .item-complex .item-content, p, h2, img, div {
    background-color: rgba(255,255,255,0);
    border: 0px;
}

.item {
    background-color: rgba(255,255,255,0.05);
    border: 0px;
}

.text-muted {
    color: #777;
}
