<ion-view view-title="Mexico Unido">
    <ion-content class="ppadding">
        <ion-list>
            <ion-list-divider>Esta semana</ion-list-divider>
            <div class="item item-avatar">
                <img src="http://lorempizza.com/200/200" />
                <h2>Juan Perez
                    <span class="pull-right">Ago 8</span>
                </h2>
                <p>Baches en Nereo R B</p>
                <i class="icon fa fa-users"></i>
                Votar
            </div>
            <div class="item item-avatar">
                <img src="http://lorempizza.com/201/201">
                <h2>Luisa Perez
                    <span class="pull-right">Ago 9</span>
                </h2>
                <p>Barda sin pintar</p>
                <i class="icon fa fa-users"></i>
            </div>
            <div class="item item-image">
                <img src="http://www.jqueryscript.net/images/Customizable-Circular-Progress-Bar-with-jQuery-CSS3-Circle-Diagram.jpg">
            </div>

            <div class="item">
                <div class="row">
                    <div class="col">
                        <div class="button button-light button-full button-small">Progreso</div>
                    </div>
                    <div class="col">
                        <div class="button button-light button-full button-small">Donaciones</div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="row">
                    <div class="col">
                        <div class="button button-calm button-full button-small">Donar</div>
                    </div>
                    <div class="col">
                        <div class="button button-calm button-full button-small">Ver detalles</div>
                    </div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
