<ion-view view-title="Ofertar o vender">
    <ion-nav-bar class="bar-royal">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="">

        <div class="list">
            <div class="item item-image">
                <img src="http://lorempixel.com/300/300/abstract" />
            </div>
            <label class="item item-input item-stacked-label">
                <span class="input-label"><i class="icon ion-pricetags"></i> Producto</span>
                <input type="text" placeholder="Papas">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label"><i class="icon ion-cube"></i> Descripcion</span>
                <input type="text" placeholder="Este es un producto muy bueno">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label"><i class="icon ion-cash"></i> Precio</span>
                <input type="number" step="any" placeholder="Precio">
            </label>
        </div>
        <div class="row">
            <div class="col">
                <div class="button button-full button-small button-calm"><i class="icon ion-image"></i> Galeria</div>
            </div>
            <div class="col">
                <div class="button button-full button-small button-calm"><i class="icon ion-camera"></i> Foto</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="button button-full button-royal"><i class="icon ion-paper-airplane"></i> Ofertar</div>
            </div>
        </div>

    </ion-content>
</ion-view>
