<ion-view view-title="Proveedores">
    <ion-nav-bar class="bar-royal">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="">

        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Empresa o persona">
            </label>
            <button class="button button-calm">
                Buscar
            </button>
        </div>

        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Categoría
                </div>
                <select>
                    <option selected>Todos</option>
                    <option>Alimenticio</option>
                    <option>Servicios</option>
                    <option>Transporte</option>
                    <option>Otros</option>
                </select>
            </label>
        </div>

        <div class="list card">
            <div class="item item-divider">Destacado</div>
            <div class="item item-avatar">
                <img src="http://lorempixel.com/50/50/abstract">
                <h2>Juan Perez</h2>
                <p>Prestador  de servicios</p>
            </div>
            <div class="item item-image">
                <img src="http://lorempixel.com/300/300/business">
            </div>
            <div class="item">
                <p>Tambien puede interesarte</p>
            </div>
            <div class="row">
                <div class="col">
                    <div class="item item-image">
                        <img src="http://lorempixel.com/100/100/business">
                        <p>Empresa 1</p>
                    </div>
                </div>
                <div class="col">
                    <div class="item item-image">
                        <img src="http://lorempixel.com/101/101/business">
                        <p>Empresa 2</p>
                    </div>
                </div>
                <div class="col">
                    <div class="item item-image">
                        <img src="http://lorempixel.com/102/102/business">
                        <p>Empresa 3</p>
                    </div>
                </div>
            </div>
            <a class="item item-icon-right calm" href="#">
                <i class="icon ion-ios-arrow-forward"></i>
                Ver más
            </a>
        </div>

    </ion-content>
</ion-view>
