<ion-view view-title="Producto de prueba">
    <ion-content class="">

        <a class="list card" href="#/tab/producto">
            <div class="item item-divider">Sector alimienticio</div>
            <div class="item item-avatar">
                <img src="http://lorempixel.com/50/50/abstract">
                <h2>Producto de prueba</h2>
                <p>Delicioso</p>
            </div>
            <div class="item item-image">
                <img src="http://lorempixel.com/300/300/food">
            </div>
            <div class="row">
                <div class="col">
                    <div class="item item-image">
                        <img src="http://lorempixel.com/100/100/food">
                    </div>
                </div>
                <div class="col">
                    <div class="item item-image">
                        <img src="http://lorempixel.com/101/101/food">
                    </div>
                </div>
                <div class="col">
                    <div class="item item-image">
                        <img src="http://lorempixel.com/102/102/food">
                    </div>
                </div>
            </div>
            <div class="item item-divider">Caracteristicas</div>
            <div class="item">
                <p>Joder</p>
            </div>
            <a class="item item-icon-right calm" href="#">
                <i class="icon ion-ios-cart"></i>
                Ver más
            </a>
        </a>

    </ion-content>
</ion-view>
