<ion-tabs class="tabs-icon-top tabs-color-active-calm">

    <ion-tab title="Inicio" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/dash">
        <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Mis compras" icon-off="ion-ios-filing-outline" icon-on="ion-ios-filing" href="#/tab/compras">
        <ion-nav-view name="tab-compras"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Productos" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/tab/productos">
        <ion-nav-view name="tab-productos"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Proveedores" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/proveedores">
        <ion-nav-view name="tab-proveedores"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Ofertar" icon-off="ion-ios-pricetags-outline" icon-on="ion-ios-pricetags" href="#/tab/ofertar">
        <ion-nav-view name="tab-ofertar"></ion-nav-view>
    </ion-tab>
    <!--ion-tab title="Configuración" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/config">
        <ion-nav-view name="tab-config"></ion-nav-view>
    </ion-tab-->

</ion-tabs>
