<ion-view view-title="Appointment finished">
    <ion-content>
        <ion-list>
            <div class="item item-text-wrap" ng-if="error.length" class="assertive">
                {{error}}
            </div>
            <div class="item item-text-wrap">
                <p>Your patient has been charged</p>
                <p>
                    <span><i class="fa fa-credit-card"></i> Transaction {{chargeId}}</span>
                </p>
            </div>
            <div class="item">Evaluate this appointment</div>
            <h1 class="row text-center">
                <div class="col" ng-repeat="i in stars">
                    <i ng-if="i.ok" class="icon ion-ios-star" ng-click="rateAppointment(i.rate)"></i>
                    <i ng-if="!i.ok" class="icon ion-ios-star-outline" ng-click="rateAppointment(i.rate)"></i>
                </div>
            </h1>
            <div class="item item-text-wrap">
                <p>Do you have any important note or reminder for your patient? Send it now!</p>
            </div>
            <form nng-submit="postFinishAppointment()">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Message</span>
                    <!--input ng-model="message" type="text" placeholder="Message"-->
                    <textarea ng-model="message" placeholder="Message" rows="5"></textarea>
                </label>
                <!--label class="item item-input item-floating-label">
<span class="input-label">Highlight</span>
<input ng-model="highlight" type="text" placeholder="Highlight">
</label-->
                <div class="row">
                    <div class="col">
                        <a href="mailto:info@betteroncall.com?subject=Post-appointment&body={{message}}" class="button button-full button-calm"><i class="icon ion-paper-airplane"></i> Send by Email</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div ng-click="goToMain()" class="button button-full button-balanced">
                            <i class="icon ion-ios-home-outline"></i> Go to next appointments
                        </div>
                    </div>
                </div>
            </form>
        </ion-list>
    </ion-content>
</ion-view>
