<ion-view>
    <ion-nav-title>
        <span class="">My Contact</span>
    </ion-nav-title>
    <ion-content>
        <p>&nbsp;</p>
        <h2>Contact Better On Call</h2>
        <p>Have any questions? Please feel free to contact us. We are here to help. </p>
        <div class="row">
            <div class="col">
                <a href="mailto:info@betteroncall.com" class="button button-full button-calm"><i class="fa fa-envelope"></i> Email</a>
            </div>
            <div class="col">
                <a href="tel:1-971-238-8379" class="button button-full button-calm"><i class="fa fa-phone"></i> Call us</a>
            </div>
        </div>
    </ion-content>
</ion-view>

<!--div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">

<div class="row text-center">
<h2>Contact BetterOncall</h2>
<p>Have any questions? Please feel free to contact us. We are here to help. </p>
<p>&nbsp;</p>
<div class="col-sm-5 col-xs-12">
<a href="mailto:contact@betteroncall.com" class="form-control btn btn-default"><i class="fa fa-envelope"></i> contact@betteroncall.com</a>
</div>
<div class="col-sm-5 col-sm-offset-2 col-xs-12">
<a href="tel:1-516-410-9798" class="form-control btn btn-default"><i class="fa fa-phone"></i> 1-516-410-9798</a>
</div>
</div>

</div-->