<!--ion-modal-view>
<ion-nav-title  class="">
<span class="">History</span>
</ion-nav-title>
<ion-header-bar align-title="center" class="bar-balanced">
<div class="buttons">
<div class="button" ng-click="closeHistory()">Back</div>
</div>
<h1 class="title">{{patient.firstName}}'s History</h1>
</ion-header-bar-->
<ion-view>
    <ion-nav-title  class="">
        <span ng-if="patient.firstName.length">{{patient.firstName}}'s History</span>
        <span ng-if="!patient.firstName.length">Loading history...</span>
    </ion-nav-title>

    <ion-content>
        <ion-refresher
                       pulling-text="Pull to refresh..."
                       on-refresh="doRefresh()">
        </ion-refresher>
        <div class="list">
            <div class="item item-body item-text-wrap">
                <img ng-if="!patient.profilePicture" class="full-image" src="img/noavatar.png" />
                <img ng-if="patient.profilePicture" class="full-image" src="data:image/png;base64,{{patient.profilePicture}}" />
                <h2>{{patient.lastName}}, {{patient.firstName}}</h2>
            </div>
            <div class="item item-text-wrap">
                <p>DOB {{patient.dob}}</p>
                <p>Gender {{patient.gender}}</p>
                <p>Allergies {{patient.allergies}}</p>
            </div>
            <div ng-repeat="h in events">
                <div class="item item-text-wrap" ng-if="h.constructor.name.length">
                    <h3>{{h.constructor.name}}</h3>
                    <p>{{Date.parse(h._kmd.lmt) | date:'medium'}}{{h.dateStart | date:'medium'}}</p>
                    <p ng-repeat="(a,b) in h.data">{{a | replace:"_":" " | camelcase}} <b>{{b}}</b> </p>
                </div>
                <ion-item ng-if="!h.constructor.name.length">...</ion-item>
            </div>
        </div>
    </ion-content>
</ion-view>
