<ion-modal-view>
    <!--ion-header-bar>
<h1 class="title">Better On Call</h1>
<div class="buttons">
<button class="button button-clear" ng-click="closeLogin()">Close</button>
</div>
</ion-header-bar-->
    <ion-content class="custombg">
        <form ng-submit="doLogin()">
            <div class="list">
                <ion-item></ion-item>
                <div class="row">
                    <div class="col"></div>
                    <div class="col col-60">
                        <img class="full-image" src="img/BOC_full-logo_stacked_white.png" />
                    </div>
                    <div class="col"></div>
                </div>
                <div class="row text-center">
                    <div class="col">
                        <p class="text-white">Physician</p>
                    </div>
                </div>
                <div class="item item-text-wrap" href="#" ng-show="msg">
                    <h6>
                        <!--i class="icon ion-alert-circled"></i-->
                        {{msg}}
                    </h6>
                </div>
            </div>
            <div class="list">
                <label class="item item-input item-ffloating-label">
                    <span class="input-label">Email</span>
                    <input type="email" ng-model="loginData.username" required placeholder="Email">
                </label>
                <label class="item item-input item-ffloating-label">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="loginData.password" required placeholder="Password">
                </label>
                <div class="row">
                    <div class="col" ng-click="signUp()">
                        <button ng-model="signupButton" class="button button-full button-block button-calm" type="submit"><i class="icon ion-person-add"></i> Sign up</button>
                    </div>
                    <div class="col" ng-click="doLogin()">
                        <button ng-model="signinButton" class="button button-full button-block button-positive" type="submit"><i class="icon ion-log-in"></i> Sign in</button>
                    </div>
                </div>
                <div class="row" ng-if="msg=='Invalid credentials. Please retry your request with correct credentials'">
                    <div class="col">
                        <div class="button button-full button-positive button-block" ng-click="passwordReset()">
                            <i class="icon ion-ios-unlocked-outline"></i>  Reset password
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
