<ion-view>

    <div class="bar bar-header bar-light">
        <h1 class="title">bar-light</h1>
    </div>

    <ion-content>

        <ion-refresher
                       pulling-text="Pull to refresh..."
                       on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item>
                <h4>Next Appointment</h4>
            </ion-item>
            <ion-item>
                <div ng-if="appt.patient.firstName">
                    <div class="row">
                        <span class="col">{{appt.patient.lastName}}, {{appt.patient.firstName}}</span>
                        <span class="col col-67 text-muted small"> {{appt.patient.gender}}, {{appt.patient.dob}}
                        </span>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>Address</p>
                        </div>
                        <div class="col col-67">
                            <p><strong>{{appt.locationRequested}}</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        <a href='geo:37.786971,-122.399677;zoom=20' class="col">
                            <img class="col google-map" ng-src="http://maps.googleapis.com/maps/api/staticmap?center={{appt.locationRequested | urlencode}}&size=600x300&zoom=16&markers=color:blue%7Clabel:John%7C{{appt.locationRequested | urlencode}}&style=element:labels|visibility:on&style=element:geometry.stroke|visibility:off&style=feature:landscape|element:geometry|saturation:-100&style=feature:water|saturation:-100|invert_lightness:true&key=AIzaSyBMQEUljSxiiSrmDQW3xBPWPZUr6VCexC8" />
                        </a>
                    </div>
                    <div class="row">
                        <div ng-click="onMyWay(appt._id)" class="button button-balanced col"><i class="fa fa-map-marker"></i> On my way</div>
                        <a href="#/current-appointment/{{appt.patient._id}}/{{appt._id}}" class="button button-stable col col-67"><i class="fa fa-flag-checkered"></i> Start appointment</a>
                    </div>
                </div>
                <div ng-if="!appt.patient.firstName">
                    <p class="text-center"><i class="fa fa-info-circle"></i> No appointments pending.</p>
                </div>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item>Calendar 
                <!--span class="">
<button class="button button-light button-small" ng-click="changeMode('day')">D</button>
<button class="button button-light button-small" ng-click="changeMode('week')">W</button>
</span-->
            </ion-item>
            <ion-item>
                <ccalendar style="height:300px;" 
                           ng-model="calendar.currentDate" 
                           calendar-mode="calendar.mode" 
                           event-source="calendar.eventSource"
                           rrange-changed="reloadSource(startTime, endTime)"
                           event-selected="onEventSelected(event)" 
                           ttitle-changed="onViewTitleChanged(title)"
                           time-selected="onTimeSelected(selectedTime)" step="30">
                </ccalendar>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item ng-click="doRefresh()">Upcoming</ion-item>
            <ion-item ng-repeat="req in upcoming" ng-click="setAppointment(req._id)">
                <span class="">{{req.patient.lastName}}, {{req.patient.firstName}}</span>
                <span class="text-muted small" title="{{req.reason}}">{{req.comment | limitTo:10 }}...</span>
                <span class="pull-right">{{req.dateStart*1000 | date:'MM/dd HH:mm'}} </span>
            </ion-item>
            <ion-item>&nbsp;</ion-item>
        </ion-list>

        <!-- ION Slides -->
        <ion-slides  options="options" slider="data.slider">
            <ion-slide-page>
                <div class="box blue"><h1>BLUE</h1></div>
            </ion-slide-page>
            <ion-slide-page>
                <div class="box yellow"><h1>YELLOW</h1></div>
            </ion-slide-page>
            <ion-slide-page>
                <div class="box pink"><h1>PINK</h1></div>
            </ion-slide-page>
        </ion-slides>

    </ion-content>

    <!-- Appt request modal -->
    <div id="modal-request" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class='pull-right'>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" class="btn btn-sm btn-danger"><i class="fa fa-sign-out"></i>&nbsp;</button>
                    </span>
                    <h4 class="modal-title">Request detail</h4>
                </div>
                <div class="modal-body">
                    <div class="roww">
                        <div class="col-xs-6">
                            <label>Name</label>
                            <p><strong>John Doe, <i class="fa fa-mars"></i> 37</strong></p>
                        </div>
                        <div class="col-xs-6">
                            <label>Reputation</label>
                            <p>
                                <strong>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </strong>
                            </p>
                        </div>
                        <div class="col-xs-6">
                            <label>Address</label>
                            <p><strong>Siempre Viva 123</strong></p>
                        </div>
                        <div class="col-xs-6">
                            <label>Last appointment</label>
                            <p><strong>May 2, 2016</strong></p>
                        </div>
                    </div>
                    <div class="roww">
                        <div class="col-xs-12">
                            <label>Reason for appointment</label>
                            <p>Routine check, incapability of moving out of home</p>
                        </div>
                        <div class="col-xs-12">
                            <label>Date of appointment requested</label>
                            <p>Jun 2, 2016 09:00pm</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-right">
                    <div class="btn btn-success" onclick="acceptRequest()">Accept</div>
                    <div class="btn btn-danger" onclick="$('#modal-request').modal('hide')">Decline</div>
                </div>
            </div>
        </div>
    </div>

</ion-view>

<script src="js/main-view.js"></script>

