<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Add a time slot</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closePopupAddSlot()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form class="list" ng-submit="addSlot()">
            <ion-item></ion-item>

            <label class="item item-input">
                <span class="input-label">Day</span>
                <input type="date" ng-model="newSlot.from_date" required>
            </label>
            <div class="item item-text-wrap">
                <div class="row">
                    <div class="col">
                        <label class="item item-input item-select">
                            <div class="input-label">
                                <i class="icon ion-log-in"></i>
                            </div>
                            <select ng-model="newSlot.from_time" required>
                                <option ng-repeat="h in hoursAvailable" value="{{h.value}}">{{h.show}}</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="item item-input item-select">
                            <div class="input-label">
                                <i class="icon ion-log-out"></i>
                            </div>
                            <select ng-model="newSlot.to_time" required>
                                <option ng-repeat="h in hoursAvailable" value="{{h.value}}">{{h.show}}</option>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
            
            <div class="item item-text-wrap" ng-if="slotOverlapped">
                <h3 class="assertive">:( Can't continue</h3>
                <p>Your slot overlaps with the following:</p>
                <p>{{slotOverlapped}}</p>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" class="button button-full button-calm button-block"><i class="icon ion-ios-checkmark-outline"></i> {{saveButton}}</button>
                </div>
            </div>
        </form>
    </ion-content>
    <ion-footer-bar>
        <ion-button ng-click="closePopupAddSlot()">
            <h2 class="title">Close</h2>
        </ion-button>
    </ion-footer-bar>
</ion-modal-view>
