<div class="col-xs-12">
    <h1>Extended EHR</h1>
    <div>
        <div ng-repeat="o in objectiveFormElements">
            <div class="panel panel-default">
                <div class="panel-heading">{{o.name}}</div>
                <div class="panel-body">
                    <div class="list-group">
                        <div ng-repeat="d in o.data">
                            <span>{{d}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>